<div class="total_info_whole">
    <div class="total_info_title">
        <p>Welcome!</p>
        <p class="dashboard"><a href="#">Minton</a> / Dashboard</p>
    </div>
    <div class="total_info_container">
        <div class="total_info_div">
            <div class="_circle _circle_c1">
                <svg>
                    <use xlink:href="#visit"></use>
                </svg>
            </div>
            <div class="total_info_div_chart">
                <p class="numbers">64,570</p>
                <p class="words">Today's Visits</p>
            </div>
        </div>
        <div class="total_info_div">
            <div class="_circle _circle_c2">
                <svg>
                    <use xlink:href="#revenue"></use>
                </svg>
            </div>
            <div class="total_info_div_chart">
                <p class="numbers">31,570</p>
                <p class="words">Total Revenue</p>
            </div>
        </div>
        <div class="total_info_div">
            <div class="_circle _circle_c3">
                <svg>
                    <use xlink:href="#sales"></use>
                </svg>
            </div>
            <div class="total_info_div_chart">
                <p class="numbers">280</p>
                <p class="words">Today's Sales</p>
            </div>
        </div>
        <div class="total_info_div">
            <div class="_circle _circle_c4">
                <svg>
                    <use xlink:href="#conversion"></use>
                </svg>
            </div>
            <div class="total_info_div_chart">
                <p class="numbers">0,16%</p>
                <p class="words">Conversion</p>
            </div>
        </div>
    </div>
    </div>
