@import '_variables';
@import '_navbar' ;
@import '_sidenav';
@import '_dashboard';
@import '_fonts';
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #ebebeb;
}
svg {
    width: 24px;
    height: 24px;
}
img {
    width: 100%;
    height: auto;
    display: block;
}