<nav>
        <div class="nav_logo">
            <a href="">
                <svg>
                    <use xlink:href="#logo"></use>
                </svg>
                <span>LOGO</span>
            </a>

        </div>
        <div class="nav_menu">
            <div class="nav_menu_left">
                <svg>
                    <use xlink:href="#burger"></use>
                </svg>
                <input type="text" placeholder="Search...">
            </div>
            <ul class="nav_menu_list">
                <li><a href="#"><svg>
                            <use xlink:href="#dots"></use>
                        </svg></a></li>
                <li><a href="#"><svg>
                            <use xlink:href="#notification"></use>
                        </svg></a></li>
                <li><a href="#"><img class="img-circle" src="/public/assets/img/Agata-Serge2.jpg" alt=""></a></li>
            </ul>
        </div>
    </nav>