<div class="sidenav">
        <div class="sidenav_divider">
            <h5 class="sidenav_title">Main</h5>
            <ul class="sidenav_list">
                <li class="active"><a href="#"> <svg>
                            <use xlink:href="#home"></use>
                        </svg> Dashboard</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#ui"></use>
                        </svg> UI Kit</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#typo"></use>
                        </svg> Typography</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#compo"></use>
                        </svg> Components</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#icons"></use>
                        </svg> Icons</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#form"></use>
                        </svg> Form</a></li>
            </ul>
            <h5 class="sidenav_title">More</h5>
            <ul class="sidenav_list">
                <li><a href="#"> <svg>
                            <use xlink:href="#tables"></use>
                        </svg> Tables</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#charts"></use>
                        </svg> Charts</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#maps"></use>
                        </svg> Maps</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#mails"></use>
                        </svg> Mails</a></li>
            </ul>
            <h5 class="sidenav_title">Extra</h5>
            <ul class="sidenav_list">
                <li><a href="#"> <svg>
                            <use xlink:href="#pages"></use>
                        </svg> Pages</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#extra"></use>
                        </svg> Extras</a></li>
                <li><a href="#"> <svg>
                            <use xlink:href="#multilevel"></use>
                        </svg> Multilevel</a></li>
            </ul>
        </div>
    </div>