<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/assets/style/app.css">
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    {{>sidenav}}
    <div class="total_info">
    {{ body }}
    </div>
    <!-- <script src="main.js"></script> -->
    <div>
        {{>'sprite.symbol'}}
    </div>
</body>

</html>